@use "functions" as *;

//? Global Color Tokens

$-clr-white: hsl(0 0% 100%);
$-clr-gray-light: hsl(0 0% 91%);
$-clr-gray-mid: hsl(0 0% 42%);
$-clr-gray-dark: hsl(0 0% 25%);

$-clr-blue-very-light: hsl(213 47% 96%);
$-clr-blue-light: hsl(218 39% 86%);
$-clr-blue-mid: hsl(218 48% 39%);
$-clr-blue-dark: hsl(218 36% 23%);

$-clr-green-very-light: hsl(168 98% 81%);
$-clr-green-light: hsl(168 96% 51%);
$-clr-green-mid: hsl(169 100% 41%);
$-clr-green-dark: hsl(168 80% 19%);

$-clr-yellow-light: hsl(36 100% 86%);
$-clr-yellow-mid: hsl(36 80% 65%);
$-clr-yellow-dark: hsl(36 77% 30%);

$-clr-pink-light: hsl(340 81% 84%);
$-clr-pink-mid: hsl(340 68% 63%);
$-clr-pink-dark: hsl(340 76% 27%);

$-clr-cyan-light: hsl(194 98% 81%);
$-clr-cyan-mid: hsl(197 64% 53%);
$-clr-cyan-dark: hsl(195 69% 27%);

$colors-map: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-light,
    "400": $-clr-gray-mid,
    "700": $-clr-gray-dark,
  ),
  "accent": (
    "100": $-clr-green-very-light,
    "200": $-clr-green-light,
    "400": $-clr-green-mid,
    "700": $-clr-green-dark,
  ),
  "primary": (
    "100": $-clr-blue-very-light,
    "200": $-clr-blue-light,

    "400": $-clr-blue-mid,

    "700": $-clr-blue-dark,
  ),

  "yellow": (
    "300": $-clr-yellow-light,
    "400": $-clr-yellow-mid,
    "500": $-clr-yellow-dark,
  ),
  "pink": (
    "300": $-clr-pink-light,
    "400": $-clr-pink-mid,
    "500": $-clr-pink-dark,
  ),
  "cyan": (
    "300": $-clr-cyan-light,
    "400": $-clr-cyan-mid,
    "500": $-clr-cyan-dark,
  ),
);

// $default-theme-name: "default";

// $themes-map: (
//   #{$default-theme-name}: (
//       "neutral": (
//         "000": $-clr-white,
//         "100": $-clr-gray-light,
//         "400": $-clr-gray-mid,
//         "700": $-clr-gray-dark,
//       ),
//       "accent": (
//         "100": $-clr-green-very-light,
//         "200": $-clr-green-light,
//         "400": $-clr-green-mid,
//         "700": $-clr-green-dark,
//       ),
//       "primary": (
//         "100": $-clr-blue-very-light,
//         "200": $-clr-blue-light,

//         "400": $-clr-blue-mid,

//         "700": $-clr-blue-dark,
//       ),

//       "yellow": (
//         "300": $-clr-yellow-light,
//         "400": $-clr-yellow-mid,
//         "500": $-clr-yellow-dark,
//       ),
//       "pink": (
//         "300": $-clr-pink-light,
//         "400": $-clr-pink-mid,
//         "500": $-clr-pink-dark,
//       ),
//       "cyan": (
//         "300": $-clr-cyan-light,
//         "400": $-clr-cyan-mid,
//         "500": $-clr-cyan-dark,
//       ),
//     ),
//   "dark": (
//     "neutral": (
//       "1000": $-clr-white,
//       "900": $-clr-gray-100,
//       "800": $-clr-gray-200,
//       "700": $-clr-gray-300,
//       "600": $-clr-gray-400,
//       "500": $-clr-gray-500,
//       "400": $-clr-gray-600,
//       "300": $-clr-gray-700,
//       "200": $-clr-gray-800,
//       "100": $-clr-gray-900,
//       "000": $-clr-black,
//     ),
//     "accent": (
//       "900": $-clr-deeppink-900,
//       "800": $-clr-deeppink-800,
//       "700": $-clr-deeppink-700,
//       "600": $-clr-deeppink-600,
//       "500": $-clr-deeppink-500,
//       "400": $-clr-deeppink-400,
//       "300": $-clr-deeppink-300,
//       "200": $-clr-deeppink-200,
//       "100": $-clr-deeppink-100,
//     ),
//     "primary": (
//       "900": $-clr-skyblue-900,
//       "800": $-clr-skyblue-800,
//       "700": $-clr-skyblue-700,
//       "600": $-clr-skyblue-600,
//       "500": $-clr-skyblue-500,
//       "400": $-clr-skyblue-400,
//       "300": $-clr-skyblue-300,
//       "200": $-clr-skyblue-200,
//       "100": $-clr-skyblue-100,
//     ),
//   )
// );

@function clr($color-name, $color-shade) {
  @return getMapValue("Color", $colors-map, $color-name, $color-shade);
}

//? Contextual Colors

$color-neutral-000: var(--clr-neutral-000, clr("neutral", "000"));
$color-neutral-100: var(--clr-neutral-100, clr("neutral", "100"));
$color-neutral-400: var(--clr-neutral-400, clr("neutral", "400"));
$color-neutral-700: var(--clr-neutral-700, clr("neutral", "700"));

$color-primary-100: var(--clr-primary-100, clr("primary", "100"));
$color-primary-200: var(--clr-primary-200, clr("primary", "200"));
$color-primary-400: var(--clr-primary-400, clr("primary", "400"));
$color-primary-700: var(--clr-primary-700, clr("primary", "700"));

$color-accent-100: var(--clr-accent-100, clr("accent", "100"));
$color-accent-200: var(--clr-accent-200, clr("accent", "200"));
$color-accent-400: var(--clr-accent-400, clr("accent", "400"));
$color-accent-700: var(--clr-accent-700, clr("accent", "700"));

$color-yellow-300: var(--clr-yellow-300, clr("yellow", "300"));
$color-yellow-400: var(--clr-yellow-400, clr("yellow", "400"));
$color-yellow-500: var(--clr-yellow-500, clr("yellow", "500"));

$color-pink-300: var(--clr-pink-300, clr("pink", "300"));
$color-pink-400: var(--clr-pink-400, clr("pink", "400"));
$color-pink-500: var(--clr-pink-500, clr("pink", "500"));

$color-cyan-300: var(--clr-cyan-300, clr("cyan", "300"));
$color-cyan-400: var(--clr-cyan-400, clr("cyan", "400"));
$color-cyan-500: var(--clr-cyan-500, clr("cyan", "500"));
