@use "functions" as *;

$font-families-map: (
  "primary": "'Inter', sans-serif",
  "secondary": "'Montserrat', sans-serif;",
);

$font-sizes-map: (
  s: clamp(0.8889rem, 0.8867rem + 0.0111vw, 0.9rem),
  base: clamp(1rem, 0.975rem + 0.125vw, 1.125rem),
  m: clamp(1.125rem, 1.0688rem + 0.2813vw, 1.4063rem),
  l: clamp(1.2656rem, 1.1672rem + 0.4922vw, 1.7578rem),
  xl: clamp(1.5rem, 1.2691rem + 0.7734vw, 2rem),
  xxl: clamp(2.25rem, 1.3729rem + 1.1448vw, 2.7466rem),
  xxxl: clamp(2.625rem, 1.4758rem + 2vw, 3.5rem),
);

// $font-sizes: (
//   "small": (
//     "400": 1rem,
//     "500": 1.125rem,
//     "600": 1.125rem,
//     "700": 1.75rem,
//     "800": 2.625rem,
//     "900": 3rem,
//   ),
//   "medium": (
//     "400": 1rem,
//     "500": 1.125rem,
//     "600": 1.5rem,
//     "700": 1.75rem,
//     "800": 2.75rem,
//     "900": 3.25rem,
//   ),
//   "large": (
//     "400": 1rem,
//     "500": 1.125rem,
//     "600": 1.3125rem,
//     "700": 1.75rem,
//     "800": 3rem,
//     "900": 3.75rem,
//   ),
// );

$font-weights-map: (
  "400": 400,
  "600": 600,
  "700": 700,
);

@function ff($font-family...) {
  @return getMapValue("font-family", $font-families-map, $font-family...);
}
@function fs($font-size...) {
  @return getMapValue("font-size", $font-sizes-map, $font-size...);
}
@function fw($font-weight...) {
  @return getMapValue("font-weight", $font-weights-map, $font-weight...);
}

//? Font Families
$font-family-primary: var(--ff-primary);
$font-family-secondary: var(--ff-secondary);

//? Font Sizes
$font-size-s: var(--fs-s);
$font-size-base: var(--fs-base);
$font-size-m: var(--fs-m);
$font-size-l: var(--fs-l);
$font-size-xl: var(--fs-xl);
$font-size-xxl: var(--fs-xxl);
$font-size-xxxl: var(--fs-xxxl);

//? Font Weights
$font-weight-400: var(--fw-400);
$font-weight-600: var(--fw-600);
$font-weight-700: var(--fw-700);
